<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Friend Manager | Auth Server</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/zocial/zocial.css" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
</head>
<body>
<div class="content container-fluid" style="text-align:center;">
    <h2 class="red">{{i18n "select auth method"}}</h2>
    <p>{{{i18n "logon instructions"}}}</p>
    <h3 class="center" id='oauthProvidersHeader'>{{i18n "sign in with"}}</h3>
    <div id="providers">
        {{#each providers}}
            <a href="{{path}}" class='zocial {{name}}' style='font-size:22px;'>{{title}}</a>
        {{/each}}
    </div>
    <p>{{i18n "prior 2013 buyers info"}}
    <p style='font-size:10px'>* {{i18n "FM not affiliated with fb or google"}}</p>
</div>
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42859587-1', 'friend-manager.com');
    ga('send', 'pageview');

</script>
</html>
